* {
	margin: 0;
	padding: 0;
} 
body {
    position: relative;
}
ul.nav-pills {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
nav {
    z-index: 2;
}
.mains {
    height: 100vh;
    width: 100%;
    padding-left: 10%;
}
#main{
    width:100%;
}
.selectorarrows{
    width: 15px;
    height: 15px;
}