body {
position: relative;
background-color: #ffffff;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 20px;
}


.mains {
min-height: 100vh;
width: 100%;
padding-left: 5%;
padding-right: 5%;/*10%;*/
border-bottom: 2px solid black;
padding-top: 100px;
}

#main{
width:100%;
}
.selectorarrows{
width: 15px;
height: 15px;
margin-left: 40px;
}

.nav-link {
    background-color: white;
    color: black;
}
li a .active {
    background-color: black;
    color: white;
}

#navlist li a{
margin: auto;
}



h1 a:hover, h1 a:visited, h1 a:link, h1 a:active {
    text-decoration: none;
    color: black;
}
#comic-section {
    width: 50%;
    margin: auto;
}
#comic, #comic img {
    /*width: 50%;*/
    margin: auto;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .hide-on-mobile {
      display: none;
    }
}
#box {
    height:35px; 
    width:35px; 
    background-color:orange; 
    margin:25px
}

#game-area {
    height: 100%;
}

.flex-container {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap
}
.hobby-container {
    /*max-width: 25%;*/
    height: 50vh;
    background-size: cover;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: center center;
}
.hobby-text {
    color: white;
    display: none;
    text-align: center;
    font-size: 22px;
}

#woodworking {
    background-image: url("../images/drill.jpeg");
}
#fishing{
    background-image: url("../images/king-salmon.jpg");
}/*alt="Fremont Canyon, near Alcova, Wyoming"*/
#video-games{
    background-image: url("../images/gaming-pc.jpeg");
}
#food {
    background-image: url("../images/sushi.jpg"); /*alt="Sushi from a restaurant in Janesville, WI"*/
}
#fishing:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,1)),
    url("../images/king-salmon.jpg");
}
#woodworking:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,1)),
    url("../images/drill.jpeg");
}

#video-games:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,1)),
    url("../images/gaming-pc.jpeg");
}
#food:hover {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,1)),
    url("../images/sushi.jpg");
}

.hobby-container:hover > span{
    display: block;
}
.contact-icon {
    height: 50px;
    width: 50px;
}
.contact-set a {
    display: inline-block;
}
.contact-set a:hover img {
    filter: invert(1);
} 
.contact-set a:hover {
    background-color: black;
} 