body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #007bff;
}

.link {
    font-size: 1.5em;
}


.header {
    margin: 0px;
    background-color: #007bff;
}

#root{
    background-color: #007bff;
    min-height: 100vh;
}

.contentPage {
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

/*.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
}*/

.carousel-arrow {
    font-weight: bolder;
    font-size: 5em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 0px auto;
}


.example-container {
    max-height: 85vh;
}
/*
.example-container {
    height: 85vh;
}*/

.caption {
    border-radius: 15px;
    border: 1x solid darkgrey;
    background-color: rgba(0,0,0,.75);
    width: 75%;
    margin: 0px auto;
}
/*
.caption > h5, .caption>p{
    text-align: center;
}*/

.contact-icon{
    height: 50px;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.links{
    display: flex;
    justify-content: space-around;

}

.links .btn {
    font-size: 1em;
    font-weight: bold;
}

.language-box img {
 height: 100px;
 width: 100px;
}

.language-box .wide {
    width: 180px;
}


/* medium */
@media only screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }

}

/* SMALL */
@media (max-width: 576px) {

    .example-container {
        min-height: 70vh;
    }
    .links .btn {
        padding: 0px;
        margin: 0px;
    }

}

